<div class="config flex gap-15 direct-column">
    <h2 class="underline"><%= FZUtils.getLangKey("server.config.title") %></h2>
    <div class="card">
        <div class="card-body flex gap-30 direct-column">
            <div class="column flex gap-15 direct-column">
                <h2 class="label__config"><%= FZUtils.getLangKey("server.config.ram.title") %></h2>
                <h2 class="expl__config"><%= FZUtils.getLangKey("server.config.ram.subtitle") %></h2>
            </div>
            <div class="flex align-center gap-20 justif-center">
                <span class="range_ram_indicator"></span>
                <input type="range" class="reset-mp" id="range_ram_allocate" max="" min="1" value="0">
            </div>
        </div>
    </div>
    <div class="card pd-30">
        <div class="card-body flex gap-15 justif-between direct-column">
            <div class="config-item">
                <div class="column flex direct-column justif-center">
                    <h2 class="label__config reset-mp"><%= FZUtils.getLangKey("server.config.drpc.title") %></h2>
                    <h2 class="expl__config reset-mp"><%= FZUtils.getLangKey("server.config.drpc.subtitle") %></h2></h2>
                </div>
                <div class="flex align-center gap-20">
                    <div class="ui toggle checkbox mb-10">
                        <input type="checkbox" class="config__server_checkbox" data-default="true" data-id="config__server_discord_rpc" >
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="config-item">
                <div class="column flex direct-column justif-center">
                    <h2 class="label__config reset-mp">Minimiser le launcher au lancement</h2>
                    <h2 class="expl__config reset-mp">Cacher la fenêtre du launcher et le relancer une fois la session terminée</h2>
                </div>
                <div class="flex align-center gap-20">
                    <div class="ui toggle checkbox mb-10">
                        <input type="checkbox" class="config__server_checkbox" data-default="false" data-id="config__server_minimise_app" >
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="config-item">
                <div class="column flex direct-column justif-center">
                    <h2 class="label__config reset-mp">Moteur d'exécution Java - FzLauncher</h2>
                    <h2 class="expl__config reset-mp">Utiliser ou non le moteur Java installé par FrazionZ Launcher</h2>
                </div>
                <div class="flex align-center gap-20">
                    <div class="ui toggle checkbox mb-10">
                        <input type="checkbox" class="config__server_checkbox" data-default="true" data-id="config__server_runtime_launch">
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="config-item">
                <div class="column flex direct-column justif-center">
                    <h2 class="label__config reset-mp">Nettoyage automatique du cache des skins et des capes</h2>
                    <h2 class="expl__config reset-mp">Supprime automatiquement le cache au lancement</h2>
                </div>
                <div class="flex align-center gap-20">
                    <div class="ui toggle checkbox mb-10">
                        <input type="checkbox" class="config__server_checkbox" data-default="true" data-id="config__server_clean_autosc">
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="config-item">
                <div class="column flex direct-column justif-center">
                    <h2 class="label__config reset-mp">Jeu en plein écran</h2>
                    <h4 class="expl__config reset-mp">Affiche le jeu automatiquement en pleine écran</h4>
                </div>
                <div class="flex align-center gap-20">
                    <div class="ui toggle checkbox mb-10">
                        <input type="checkbox" class="config__server_checkbox" data-default="false" data-id="config__server_display_fullscreen">
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="config-item">
                <div class="column flex direct-column justif-center">
                    <h2 class="label__config reset-mp">Taille de la fenêtre</h2>
                    <h2 class="expl__config reset-mp">Modifie la taille de la fenêtre de jeu</h2>
                </div>
                <div class="flex align-center gap-20">
                    <div class="flex gap-15">
                        <input type="number" class="format settings_number" id="config__display_width" value="1280" min="800">
                        <input type="number" class="format settings_number" id="config__display_height" value="720" min="600">
                        <a class="btn btn-primary config__server_display_size">Valider</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card pd-30">
        <div class="card-body flex gap-15 justif-between direct-column">
            <div class="config-item">
                <div class="column flex direct-column justif-center">
                    <h2 class="label__config reset-mp">Nettoyer les fichiers</h2>
                    <h2 class="expl__config reset-mp">Ceci est une description</h2>
                </div>
                <div class="flex align-center gap-20">
                    <a class="btn btn-primary config__clear_dir">Nettoyer</a>
                </div>
            </div>
            <div class="config-item">
                <div class="column flex direct-column justif-center">
                    <h2 class="label__config reset-mp">Réparer le jeu</h2>
                    <h2 class="expl__config reset-mp">Ceci est une description</h2>
                </div>
                <div class="flex align-center gap-20">
                    <a class="btn btn-primary config__repare_dir">Réparer</a>
                </div>
            </div>
            <div class="config-item">
                <div class="column flex direct-column justif-center">
                    <h2 class="label__config reset-mp">Cache des skins et capes</h2>
                    <h2 class="expl__config reset-mp">Ceci est une description</h2>
                </div>
                <div class="flex align-center gap-20">
                    <a class="btn btn-primary config__clear_cachesc_dir">Vider</a>
                </div>
            </div>
      
        </div>
    </div>
</div>
<script>
    var Settings = require(path.join('<%= srcDir %>', '/assets/js/connected/server/subpage/settings.js'));
    new Settings('<%= server_current.idServer %>');

    
</script>