<div class="config flex gap-15 direct-column">
    <h2 class="underline"><%= FZUtils.getLangKey("server.config.title") %></h2>
    <div class="card">
        <div class="card-body flex gap-30 direct-column">
            <div class="column flex gap-15 direct-column">
                <h2 class="label__config"><%= FZUtils.getLangKey("server.config.ram.title") %></h2>
                <h2 class="expl__config"><%= FZUtils.getLangKey("server.config.ram.subtitle") %></h2>
            </div>
            <div class="flex align-center gap-20 justif-center">
                <span class="range_ram_indicator"></span>
                <input type="range" class="reset-mp" id="range_ram_allocate" max="" min="1" value="0">
            </div>
        </div>
    </div>
    <div class="card pd-15">
        <div class="card-body flex gap-15 justif-between direct-column">
            <div class="config-item pd-15 ">
                <div class="flex gap-30">
                    <div class="icon">
                        <i class="fa-brands fa-discord"></i>
                    </div>
                    <div class="column flex direct-column justif-center">
                        <h2 class="label__config reset-mp"><%= FZUtils.getLangKey("server.config.drpc.title") %></h2>
                        <h2 class="expl__config reset-mp"><%= FZUtils.getLangKey("server.config.drpc.subtitle") %></h2></h2>
                    </div>
                </div>
                <div class="flex align-center gap-20">
                    <div class="ui toggle checkbox mb-10">
                        <input type="checkbox" class="config__server_checkbox" data-default="true" data-id="config__server_discord_rpc" >
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="config-item pd-15 ">                
                <div class="flex gap-30">
                    <div class="icon">
                        <i class="fa-solid fa-minimize"></i>
                    </div>
                    <div class="column flex direct-column justif-center">
                        <h2 class="label__config reset-mp"><%= FZUtils.getLangKey("server.config.miniseapp.title") %></h2>
                        <h2 class="expl__config reset-mp"><%= FZUtils.getLangKey("server.config.miniseapp.subtitle") %></h2>
                    </div>
                </div>
                <div class="flex align-center gap-20">
                    <div class="ui toggle checkbox mb-10">
                        <input type="checkbox" class="config__server_checkbox" data-default="false" data-id="config__server_minimise_app" >
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="config-item pd-15 ">
                <div class="flex gap-30">
                    <div class="icon">
                        <i class="fa-brands fa-java"></i>
                    </div>
                    <div class="column flex direct-column justif-center">
                        <h2 class="label__config reset-mp"><%= FZUtils.getLangKey("server.config.runtime.title") %></h2>
                        <h2 class="expl__config reset-mp"><%= FZUtils.getLangKey("server.config.runtime.subtitle") %></h2>
                    </div>
                </div>
                <div class="flex align-center gap-20">
                    <div class="ui toggle checkbox mb-10">
                        <input type="checkbox" class="config__server_checkbox" data-default="true" data-id="config__server_runtime_launch">
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="config-item pd-15">
                <div class="flex gap-30">
                    <div class="icon">
                        <i class="fa-solid fa-broom"></i>
                    </div>
                    <div class="column flex direct-column justif-center">
                        <h2 class="label__config reset-mp"><%= FZUtils.getLangKey("server.config.autosc.title") %></h2>
                        <h2 class="expl__config reset-mp"><%= FZUtils.getLangKey("server.config.autosc.subtitle") %></h2>
                    </div>
                </div>
                <div class="flex align-center gap-20">
                    <div class="ui toggle checkbox mb-10">
                        <input type="checkbox" class="config__server_checkbox" data-default="true" data-id="config__server_clean_autosc">
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="config-item pd-15">
                <div class="flex gap-30">
                    <div class="icon">
                        <i class="fa-solid fa-expand"></i>
                    </div>
                    <div class="column flex direct-column justif-center">
                        <h2 class="label__config reset-mp"><%= FZUtils.getLangKey("server.config.fullscreen.title") %></h2>
                        <h4 class="expl__config reset-mp"><%= FZUtils.getLangKey("server.config.fullscreen.subtitle") %></h4>
                    </div>
                </div>
                <div class="flex align-center gap-20">
                    <div class="ui toggle checkbox mb-10">
                        <input type="checkbox" class="config__server_checkbox" data-default="false" data-id="config__server_display_fullscreen">
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="config-item pd-15">
                <div class="flex gap-30">
                    <div class="icon">
                        <i class="fa-solid fa-window-maximize"></i>
                    </div>
                    <div class="column flex direct-column justif-center">
                        <h2 class="label__config reset-mp"><%= FZUtils.getLangKey("server.config.display.title") %></h2>
                        <h2 class="expl__config reset-mp"><%= FZUtils.getLangKey("server.config.display.subtitle") %></h2>
                    </div>
                </div>
                <div class="flex align-center gap-20">
                    <div class="flex gap-15">
                        <input type="number" class="format settings_number" id="config__display_width" value="1280" min="800">
                        <input type="number" class="format settings_number" id="config__display_height" value="720" min="600">
                        <a class="btn btn-primary config__server_display_size"><%= FZUtils.getLangKey("general.done") %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card pd-15">
        <div class="card-body flex gap-15 justif-between direct-column">
            <div class="pd-15 config-item">
                <div class="column flex direct-column justif-center">
                    <h2 class="label__config reset-mp"><%= FZUtils.getLangKey("server.config.cleandir.title") %></h2>
                    <h2 class="expl__config reset-mp"><%= FZUtils.getLangKey("server.config.cleandir.subtitle") %></h2>
                </div>
                <div class="flex align-center gap-20">
                    <a class="btn btn-primary config__clear_dir"><%= FZUtils.getLangKey("server.config.cleandir.action") %></a>
                </div>
            </div>
            <div class="config-item pd-15">
                <div class="column flex direct-column justif-center">
                    <h2 class="label__config reset-mp"><%= FZUtils.getLangKey("server.config.repare.title") %></h2>
                    <h2 class="expl__config reset-mp"><%= FZUtils.getLangKey("server.config.repare.subtitle") %></h2>
                </div>
                <div class="flex align-center gap-20">
                    <a class="btn btn-primary config__repare_dir"><%= FZUtils.getLangKey("server.config.repare.action") %></a>
                </div>
            </div>
            <div class="config-item pd-15">
                <div class="column flex direct-column justif-center">
                    <h2 class="label__config reset-mp"><%= FZUtils.getLangKey("server.config.cleansc.title") %></h2>
                    <h2 class="expl__config reset-mp"><%= FZUtils.getLangKey("server.config.cleansc.subtitle") %></h2>
                </div>
                <div class="flex align-center gap-20">
                    <a class="btn btn-primary config__clear_cachesc_dir"><%= FZUtils.getLangKey("server.config.cleansc.action") %></a>
                </div>
            </div>
      
        </div>
    </div>
</div>
<script>
    var Settings = require(path.join('<%= srcDir %>', '/assets/js/connected/server/subpage/settings.js'));
    var settingsServer = new Settings('<%= server_current.idServer %>');

    
</script>