<div class="pnotes" id="pnotes_last">
  <h2 class="underline"><%= FZUtils.getLangKey("server.pnotes.title") %> - <span id="tag"></span></h2>
  <div class="flex direct-column gap-15">
    <div class="card black-4">
      <div class="card-body ">
        <h2 class="type"><%= FZUtils.getLangKey("server.pnotes.categorie.add") %></h2>
        <ul class="fields 1"></ul>
      </div>
    </div>
    <div class="card black-4">
      <div class="card-body">
        <h2 class="type"><%= FZUtils.getLangKey("server.pnotes.categorie.improve") %></h2>
        <ul class="fields 2"></ul>
      </div>
    </div>
    <div class="card black-4">
      <div class="card-body">
        <h2 class="type"><%= FZUtils.getLangKey("server.pnotes.categorie.update") %></h2>
        <ul class="fields 3"></ul>
      </div>
    </div>
    <div class="card black-4">
      <div class="card-body">
        <h2 class="type"><%= FZUtils.getLangKey("server.pnotes.categorie.remove") %></h2>
        <ul class="fields 4"></ul>
      </div>
    </div>
  </div>
</div>
<script>
    $.get('https://api.frazionz.net/faction/pnotes/last', function(response) {
      var version = response;
      $('#pnotes_last').find('#tag').append(version.tag)
      version.fields.forEach((field) => {
        $('#pnotes_last').find('.fields.'+field.type).append('<li>'+field.description+'</li>')
      })
    })
    .fail(function (error) {
      this.notyf('error', '<%= FZUtils.getLangKey("server.pnotes.msg.error") %>')
    });
</script>