<%- include('../includes/head.ejs') %>
<%- include('../includes/top.ejs') %>
<div class="body">
    <%- include('../includes/sidebar.ejs') %>
    <div id="modals"></div>
    <div class="black-4 w-100" style="border-bottom-right-radius: 15px;">
        <div class="main connected w-100">
            <div class="alert black-3 fzLauncher <% if(configLauncher.general_message_show.value == 'false'){ %> hide <% } %>">
                <div class="icon">
                    <i class="fa-solid fa-triangle-exclamation fcolor-2 mr-10"></i>
                </div>
                <span id="alertFzLauncher" class="animate">
                    <%= configLauncher.general_message_value.value %>
                </span>
            </div>
            <div class="content-child">
                <div class="server page hide"></div>
                <div class="modal page hide"></div>
                <div class="dialog page hide"></div>
                <div class="downloads page hide"></div>
                <div class="settings page hide"></div>
                <div class="profile page hide"></div>
                <div class="aupdate page hide"></div>
            </div>
        </div>
    </div>
</div>
<%- include('../includes/script.ejs') %>
<script src="asset://js/connected/layout.js"></script>
<% if(typeof openPage == 'string') { %>
    <script>
        var linkPage = $('.parent-menu-link[href=<%= linkPage %>]');
        var openPage = '<%= openPage %>';
    </script>
<% }else{ %>
    <script>
        var linkPage = 'nav_server_0';
        var openPage = 'server';
    </script>
<% } %>
<script>
    const layoutClass = new Layout(linkPage, openPage);
    const userSession = JSON.parse('<%- JSON.stringify(session) %>');
    var isMaximised = false;
</script>
<% if(typeof notyf == 'object') { %>
    <% if(notyf.type == "success") { %>
        <script>notyf.success('<%= notyf.value %>');</script>
    <% } %>
    <% if(notyf.type == "error") { %>
        <script>notyf.error('<%= notyf.value %>');</script>
    <% } %>
<% } %>