<div class="rpackd pl-60 pr-60 pb-30">
    <div class="flex justif-between align-center">
        <h2 class="pt-30 pb-10 underline"><%= FZUtils.getLangKey("server.rpacks.title") %> - <%= rpack.name %></h2>
        <span class="dialog_close"><i class="fa-solid fa-xmark"></i></span>
    </div>
    <h6><%= FZUtils.getLangKey("server.rpacks.author", [{search: "%author__name%", replace: rpack.author}]) %></h6><br />
    <h4 class="reset-mp">Description</h4>
    <span><%= rpack.description %></span><br /><br />
    <h4 class="reset-mp">Exemples</h4>
    <div class="screens"></div>
</div>
<script>
    const axios = require("axios").default;
    axios.get('https://frazionz.net/api/frazionz/rpack/<%= rpack.id %>/screens')
        .then((response) => {
            console.log(response.data)
            if(response.data.result == "success"){
                var screens = response.data.data;
                console.log(screens)
                screens.forEach(screen => {
                    $(".rpackd .screens").append(`
                        <img src="https://frazionz.net/${screen.url}" class="img-responsive w-100">
                    `);
                });
            }else
                play.notyf('error', response.data.message);
        })
</script>