<div class="config pl-60 pr-60 pb-30">
    <h2 class="pt-30 pb-10 underline"><%= FZUtils.getLangKey("settings.title") %></h2>
    <div class="flex gap-20 direct-column">
        <div class="card pd-30">
            <div class="card-body flex gap-15 justif-between direct-column">
                <div class="config-item">
                    <div class="column flex direct-column justif-center">
                        <h2 class="label__config reset-mp"><%= FZUtils.getLangKey("settings.lang.title") %></h2>
                        <h2 class="expl__config reset-mp"><%= FZUtils.getLangKey("settings.lang.subtitle") %></h2>
                    </div>
                    <div class="flex align-center gap-20">
                        <div class="dropdown">
                            <button class="btn btn-secondary black-2 settings__lang_dmenu dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <%= FZUtils.getLangInfos().display %>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <% langsLocale.forEach(function(lang) { %>
                                    <li><a class="dropdown-item settings__lang_item" data-lang="<%= lang.keycode %>"><%= lang.display %></a></li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="config-item devTools">
                    <div class="column flex direct-column justif-center">
                        <h2 class="label__config reset-mp"><%= FZUtils.getLangKey("settings.devtools.title") %></h2>
                        <h2 class="expl__config reset-mp"><%= FZUtils.getLangKey("settings.devtools.subtitle") %></h2>
                    </div>
                    <div class="flex align-center gap-20">
                        <a class="btn btn-primary settings__open_devTools">Ouvrir</a>
                    </div>
                </div>
                <div class="config-item">
                    <div class="column flex direct-column justif-center">
                        <h2 class="label__config reset-mp"><%= FZUtils.getLangKey("settings.sentry.title") %></h2>
                        <h2 class="expl__config reset-mp"><%= FZUtils.getLangKey("settings.sentry.subtitle") %></h2>
                    </div>
                    <div class="flex align-center gap-20">
                        <div class="ui toggle checkbox mb-10">
                            <input type="checkbox" class="config__launcher_checkbox" data-default="true" data-id="launcher__sentry" data-notyf="<%= FZUtils.getLangKey('settings.reboot.app') %>">
                            <label></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card pd-30">
            <div class="card-body flex gap-15 justif-between direct-column">
                <div class="config-item">
                    <div class="column flex direct-column justif-center">
                        <h2 class="label__config reset-mp">Version actuelle</h2>
                        <h2 class="expl__config reset-mp"><%= version %></h2>
                    </div>
                    <div class="flex align-center gap-20">
                        <a class="btn btn-primary config__launcher_pnotes"><%= FZUtils.getLangKey("settings.pnotes.action") %></a>
                    </div>
                </div>
                <div class="config-item">
                    <div class="column flex direct-column justif-center">
                        <h2 class="label__config reset-mp">Node</h2>
                        <h2 class="expl__config reset-mp"><%= processVersions.node %></h2>
                    </div>
                </div>
                <div class="config-item">
                    <div class="column flex direct-column justif-center">
                        <h2 class="label__config reset-mp">Chrome</h2>
                        <h2 class="expl__config reset-mp"><%= processVersions.chrome %></h2>
                    </div>
                </div>
                <div class="config-item">
                    <div class="column flex direct-column justif-center">
                        <h2 class="label__config reset-mp">Electron</h2>
                        <h2 class="expl__config reset-mp"><%= processVersions.electron %></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var Settings = require('<%= srcDir %>assets/js/connected/settings.js');
    var settings = new Settings();
</script>