<!--<li class="parent-menu-link">
    <a href="#states" class="menu-link">
        <i class="bx bx-server" style="font-size: 36px;"></i>         
        <%= FZUtils.getLangKey("sidebar.navs.states") %>
    </a>
</li>-->
<li class="parent-menu-link">
    <a href="#downloads" class="menu-link">
        <i class="bx bxs-download" style="font-size: 36px;"></i>         
        <%= FZUtils.getLangKey("sidebar.navs.downloads") %> <span class="badge bg-secondary dl downloads__countDl"></span>
    </a>
</li>
<li class="parent-menu-link">
    <a href="#settings" class="menu-link">
        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.2509 31.4765C12.103 32.5523 14.4731 31.9169 15.5446 30.0575C15.5453 30.0562 15.546 30.055 15.5467 30.0537L15.8785 29.4766C17.282 29.7391 18.7218 29.7389 20.1253 29.4763L20.4566 30.0524C21.5264 31.9128 23.8959 32.5502 25.749 31.4761C27.602 30.402 28.237 28.0231 27.1671 26.1627L26.8358 25.5867C27.7639 24.497 28.4835 23.2445 28.9582 21.8922L29.6248 21.8921C31.7656 21.8915 33.5007 20.1485 33.5 17.9991C33.4993 15.8497 31.7632 14.1078 29.6222 14.1085L28.9604 14.1089C28.4817 12.7582 27.7618 11.5064 26.8359 10.4147L27.1672 9.83946C28.2383 7.9784 27.6038 5.598 25.75 4.52267C23.8963 3.4474 21.5253 4.08437 20.4542 5.94546L20.1225 6.52252C18.7185 6.26165 17.2787 6.26335 15.8754 6.52757L15.5441 5.95155C14.4742 4.09117 12.1047 3.45375 10.2517 4.52784C8.39862 5.60193 7.76371 7.98082 8.83357 9.8412L9.16483 10.4172C8.23676 11.507 7.51715 12.7595 7.04244 14.1117L6.37528 14.1107C4.2343 14.1114 2.49932 15.8544 2.5 18.0037C2.50068 20.1531 4.2368 21.895 6.37775 21.8943L7.03962 21.8939C7.51833 23.2446 8.23823 24.4964 9.16406 25.5881L8.83277 26.1633C7.76756 28.0243 8.40156 30.3996 10.2509 31.4765ZM15.4175 13.5106C17.8882 12.0785 21.0475 12.9284 22.474 15.4089C23.9005 17.8894 23.0539 21.0612 20.5832 22.4933C18.1125 23.9255 14.9531 23.0756 13.5267 20.5951C12.1002 18.1146 12.9467 14.9427 15.4175 13.5106Z" fill="#F5F5F5"/>
        </svg>            
        <%= FZUtils.getLangKey("sidebar.navs.settings") %>
    </a>
</li>
<li class="parent-menu-link">
    <a href="#profile" class="menu-link">
        <img id="nav_menu_avatar" width="36" height="36" class="avatar nav animate__infinite  animate__wobble" src="https://auth.frazionz.net/skins/face.php?u=<%= session.id %>">
        <span class="text nav-text profile__data" id="nav_menu_username" data-target="username"><%= session.username %></span>
    </a>
</li>