<%- include("../includes/head.ejs") %>
<div class="logging">
    <img width="120" src="asset://img/icons/icon.png">
    <div class="flex gap-20 direct-column pl-60 pr-60 align-center justif-center">
        <div class="column">
            <h2><%= FZUtils.getLangKey("logging.session.renew.title") %></h2>
        </div>
        <div class="column text-center">
            <h6><%- FZUtils.getLangKey("logging.session.renew.expl") %></h6>
            <br /><br /><h4><% FZUtils.getLangKey("logging.session.renew.question") %></h4>
        </div>
        <div class="column flex gap-15">
            <a href="#" class="btn btn-primary closeApp"><%= FZUtils.getLangKey("logging.session.renew.btn.close") %></a>
            <a href="#" class="btn btn-default continueAuth"><%= FZUtils.getLangKey("logging.session.renew.btn.continue") %</a>
        </div>
    </div>
</div>
<script>
    const path = require('path')
    var appRoot = require('app-root-path');
    const FZUtils = require(path.join(appRoot.path, '/src/assets/js/utils.js'))
    $('.continueAuth').on('click', () => {
        return FZUtils.loadURL('/logging', [{type: "forceAutolog"}])
    })
    $('.closeApp').on('click', () => {
        ipcRenderer.send('closeApp');
    })
</script>